Source: skywrangler-web-server
Section: unknown
Priority: optional
Maintainer: David Lechner <david@ablerobots.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3
Standards-Version: 4.5.0
Homepage: https://github.com/dlech/skywrangler-web-server

Package: skywrangler-web-server
Architecture: all
Depends: adduser, avahi-daemon, systemd, ${misc:Depends}, ${python3:Depends}
Recommends: nginx
Description: Sky Wrangler web server
 Web server for Sky Wrangler onboard computer.
